In [ ]:
# Exploração dos Dados
Neste notebook vamos:
- Carregar o dataset
- Ver distribuição das classes
- Medir comprimentos das mensagens

In [3]:
import pandas as pd
df = pd.read_csv("SMSSpamCollection", sep="\t", names=["label","text"])
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...